<div class="container">
  <h1>Polls</h1>
  <ul>
    <% @polls.each do |poll| %>
      <li>
        <%= link_to poll.title, poll_path(poll) %>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Create poll', new_poll_path %>
</div>
